/* -----------------------------------------------------------------------------

  TEXT ELEMENTS
  
----------------------------------------------------------------------------- */

a {
  color: $color--theme;
  text-decoration: none;
}

a:hover {
  color: $color--theme-dark;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}